* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: #c6c7ff;
    color: #444558;
    padding: 15px;
}

ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    border: 1px solid #e8e8e8;
    background-color: #f8f8f8;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color: #d8d8d8;
    font-weight:bold;
}

.topnav li a:hover.active {
    background-color: #00e9e9;
}

.topnav li a.active {
    color: #003d3d;
    background-color: #00ffff;
}

p.tips {
    padding:20px 20px; 
	width:70%;
	border-radius:15px;
    color: #3b2e58;
    background-color: #efd9fd;
}

p.warning {
	padding:20px 20px; 
	width:70%;
	border-radius:15px;
    color: #6a4b16;
    background-color: #fff4ce;
}

p.active {
    padding:20px 20px; 
	width:70%;
	border-radius:15px;
    color: #00330e;
    background-color: #cefc97;
}

.sidebar {
    position: fixed;
}

.sidebar a {
    display: block;
    font-weight:bold;
    color: #ffffff;
    text-align:center;
    padding: 6px 8px;
    text-decoration:none;
    font-size:200%;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 7px;
    background-color: #ffd8d8;
    background-image: linear-gradient(141deg,#fbdcdc 0%,#ffd8d8 50%,#ffc0c0 95%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: #c6c7ff;
    color: #444558;
    text-align: center;
    font-weight:lighter;
    padding: 10px;
}

.col {
    margin-top:60px;
    margin-left:70px;
}

@media all and (max-width: 800px) {
    p.tips {
        width:100%;
    }
    p.warning {
        width:100%;
    }
    p.active {
        width:100%;
    }
}

@media all and (max-width: 450px) {
    .sidebar {
        margin:0;
        display:none;
    }
    .topnav li {
        float: none;
        width: 100%;
    }
    .topnav li a.active {
        color: #000000;
        font-weight:bold;
        font-size:150%;
        padding: 8px;
    }
    .topnav li a:not(.active) {
        display:none;
    }
    .col {
        margin-left:0px;
    }
}